<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right bg-warning" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav text-center">
			<li><a class="nav-link text-dark font-weight-bold" routerLink="/"><u>Home</u></a></li>
			<li><a class="nav-link text-dark font-weight-bold" routerLink="/about"><u>About</u></a></li>
      </ul>
  </div>
</nav>