/*header {
	font-family: Helvetica sans-serif;
}

header nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

header nav li {
	float: left;
}*/

.navbar-nav a {
	/*padding: 1.5rem;*/
	font-size: 1.5rem;
}

/*.navbar-nav a:hover {*/
	/*background: rgba(255, 255, 255, 0.5);*/
/*}*/
