<div id="main" xmlns="http://www.w3.org/1999/html">
	<h1 class="small-bottom-margin" id="header">Angular To-Do List</h1>
	<p align="center">Drag and drop your to-do items in order of priority.</p>
	<div id="new-todo-form-container" class="small-bottom-margin">
		<input type="text" class="form-control" id="new-todo-input" [(ngModel)]="todo.name"  />
		<button class="btn btn-primary" id="submit-new-todo-btn" (click)="onClick()">OK</button>
	</div>
	<!-- <button class="btn btn-danger" id="reset-local-storage-btn">Reset Local Storage</button> -->
	<ul id="todo-list-container" class="list-group" cdkDropList (cdkDropListDropped)="drop($event)">
		<li *ngFor="let todo of todos" class="list-group-item" cdkDrag>
			<span>{{todo.name}}</span>
			<span><button class="btn btn-danger btn-sm float-right mx-1" (click)="onDelete(todo)">Delete</button></span>
			<span><button class="btn btn-warning btn-sm float-right mx-1" (click)="onEdit(todo)">Edit</button></span>
		</li>
	</ul>
</div>
