body {
	padding: 0;
	margin: 0;
	background-image: url("assets/images/background.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}


