<div id="about">
  <p>
    Hello! My name is Hunter Callaway. I'm a developer in New Mexico. You can check out my GitHub profile <a href="https://github.com/HunterCallaway" target="_blank">here</a>.
  </p>
  <p>
    If you're curious about the background image, it's <i>No. 3, Youth</i> from the series "The Ten Largest" by Hilma af Klint. You can read more about her and her work at <a href="https://www.guggenheim.org/exhibition/hilma-af-klint" target="_blank">the Guggenheim's website</a>.
  </p>
</div>
